@inject Controller Controller;
@rendermode InteractiveServer
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ContaGotas</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Preços Médios
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pesquisa">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Pesquisa Distrital
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="grafico">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Estatísticas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <button class="nav-link btn w-100" @onclick="Controller.TerminarAplicacao">
                <span class="bi bi-segmented-nav"></span> Sair
            </button>
        </div>
    </nav>
</div>

